body {
  background-color: #fafafa;
  overflow-x: hidden;
  color: #615F5E;
  font-family: Roboto;
  padding-top: 50px;
}

* {
  box-sizing: border-box;
}

input:focus,
label:focus {
  outline: 0px !important;
  -webkit-appearance: none !important;
  -webkit-box-shadow: none;
  box-shadow: none !important;
  outline: none !important;
}

#root {
  width: 1000px;
  margin: auto;
}

.settings-container {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  min-height: 350px;
  overflow: hidden;
  box-shadow: 0px 2px 12px -4px rgba(0, 0, 0, 0.1);
}
.settings-container .left-column {
  width: 30%;
}
.settings-container .left-column ul {
  margin: 0;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
}
.settings-container .left-column ul li {
  flex: auto;
  padding: 20px;
  cursor: pointer;
  color: #363B6D;
  transition: all 0.2s ease-out;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.settings-container .left-column ul li:hover {
  background-color: #363B6D;
  color: white;
}
.settings-container .left-column ul li i {
  margin-right: 10px;
  color: #363B6D;
}
.settings-container .settings-tab {
  width: 70%;
  padding: 20px;
  border-left: 3px solid #363B6D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.settings-container .settings-tab form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings-container .settings-tab .input-group {
  width: 220px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 10px 0;
}
.settings-container .settings-tab .input-group input {
  padding-left: 0 !important;
  font-family: inherit;
  line-height: 1.2;
  color: #363B6D;
  font-size: 20px;
  background: transparent;
  padding: 0 5px;
  border: none;
  border-bottom: 1px solid #ced4da;
}
.settings-container .settings-tab .input-group label {
  font-size: 15px;
  color: #363B6D;
  opacity: 0.5;
}
.settings-container .settings-tab h1 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #363B6D;
  opacity: 0.5;
}
.settings-container .settings-tab h2 {
  color: #E83114;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
}
.settings-container .settings-tab img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  margin: 10px;
}
.settings-container .settings-tab img.select {
  padding: 3px;
  background: #E83114;
}

.btn {
  border-radius: 0.25rem;
  display: flex;
  font-family: "Abel";
  background-size: contain;
  background-position: center;
  background: linear-gradient(332deg, #363B6D 0%, #E83114 100%);
  color: white;
  border-radius: 0.25rem;
  letter-spacing: 1.5px;
  font-weight: 400;
  padding: 10px 30px;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.1s;
  margin: 20px 0 10px 0;
}
.btn:hover {
  background: none;
  background-color: #E83114;
}

@media screen and (max-width: 1000px) {
  #root {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .settings-container {
    flex-direction: column;
  }
  .settings-container .left-column {
    width: 100%;
  }
  .settings-container .left-column ul li {
    width: 100%;
    justify-content: center;
  }
  .settings-container .settings-tab {
    width: 100%;
    border-left: 0;
  }
}